// * {
//     outline: 1px solid red;
// }

.main-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    footer {
        margin-top: auto;
    }
}

.imagem-camp {
    max-width: 800px;
}

.imagem-camp {
    max-height: 400px;
    width: auto;
    background-size: cover;
}