<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Camp</title>
</head>
<body>
    <h1>Create a new Campground</h1>
    <form action="/campgrounds" method="POST">
        <div>
            <label for="name">Campground Name: </label>
            <input type="text" name="name" id="name" placeholder="Campground name">
            <label for="location">Location: </label>
            <input type="text" name="location" id="location">
            <br>
            <label for="description">Description: </label>
            <input type="textarea" name="description" id="description">
            <br>
            <label for="price">Price: </label>
            <input type="number" name="price" id="price">
            <br>
            <button>Create</button>
        </div>
    </form>
    
</body>
</html>