<% layout("layouts/boilerplate") %> 

    <h1><%= campground.name %></h1>
    <h2><%= campground.location %></h2>

    <a href="/campgrounds">Go Back</a>
    <br>
    <a href="/campgrounds/<%= campground.id %>/edit">Edit</a>